<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Archilizer_WarningChart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Archilizer_WarningChart.Properties.Settings>
            <setting name="WindowPosition" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
        </Archilizer_WarningChart.Properties.Settings>
    </userSettings>
</configuration>